
.formSection {
    margin: 3em auto auto;
    padding: 2em;
    width: 50em;
    background: rgba(210, 42, 48, 1);;

}

form {
    background-color: white;
    padding: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    font-family: fantasy;
}

label,
input,
textarea,
div,
select,
button {
    padding: .5em;
}

.btn {
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
    padding-left: 3.8em;
}